$c1: black;
$c2: #373A39;
$c3: #7A838C;
$c4: linear-gradient(to right, #22A3DD, #9CC846);
$c5: white;
$c6: #2A2C2B;
$c7: #F9FCFF;
$c8: #9B9B9B;


h1 {
  font-family: Montserrat, Semibold, sans-serif;
  size: 3em;
  letter-spacing: 15px;
  line-height: 16px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  size: 2em;
  letter-spacing: 0.05em;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  size: 30px;
  letter-spacing: 2px;
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  size: 24px;
  letter-spacing: 2px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  size: 22px;
  letter-spacing: 2px;
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  size: 24px;
  letter-spacing: 2px;
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.navbar {
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1em;
  font-size: 0.4em;
}

.city {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 1em;
}

.login {
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  letter-spacing: 0.2em;
  background: $c4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_icon {
  height: 2em;
  width: 2em;
}

.navbar {
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1em;
  font-size: 1em;
  text-align: center;
}

.price {
  font-stretch: expanded;
  font-family: Montserrat, Semibold, sans-serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  font-size: 2em;
}

.calendar_text {
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1em;
  font-size: 1em;
}

.sub_title {
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  align-content: center ;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.review_title {
  font-family: Montserrat, Semibold, sans-serif;
  font-size: 0.9em;
  line-height: 2em;
  letter-spacing: 0.05em;
}

.text {
  font-family: Montserrat, Semibold, sans-serif;
  font-size: 0.7em;
  line-height: 2em;
  letter-spacing: 0.05em;
}

.icon_text {
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 2em;
  letter-spacing: 0.05em;
  margin: 1em;
}

*:focus {
  outline:none;
}

.footer {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  background-color: #373A39;
}

.title_button {
  width: 15em;
  height: 4.5em;
}

.footer_text {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 0.7em;
  line-height: 2em;
  letter-spacing: 0.2em;
}

.footer_text_2 {
  color: lightgray;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 0.7em;
  letter-spacing: 0.2em;
}

.login_decoration {
  background: $c2;
  height: 8em;
  width: 5em;
  z-index: 1;
  position: absolute;
  transition: 0.3s;
}

.login_decoration:hover {
  background: $c4;
}
